@using Microsoft.AspNetCore.Http

@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString (WebApp.Controllers.ProductController.CARTKEY);
    if (jsoncart != null) {
        var cart = JsonConvert.DeserializeObject<List<CartItem>> (jsoncart);
        <li class="nav-item"><a asp-route="cart">Giỏ hàng(@cart.Count)</a></li>

    }
    else
    {
         <li class="nav-item"><a asp-route="cart">Giỏ hàng(0)</a></li>
    }
}