@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<WebApp.Data.ProductCategory>
 <div id="sidebar">
    <h3>Categories</h3>
    <ul class="sidebar_menu">
        @foreach(var cat in Model)
        {
             <li><a href="@Url.Action("ProductCategory", "Product", new { id = @cat.Id })">@cat.Name</a></li>
        }
    </ul>
    <h3>Newsletter</h3>
    <p>Praesent aliquam mi id tellus pretium pulvinar in vel ligula.</p>
    <div id="newsletter">
        <form action="#" method="get">
            <input type="text" value="Subscribe" name="email_newsletter" id="email_newsletter" title="email_newsletter" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
            <input type="submit" name="subscribe" value="Subscribe" alt="Subscribe" id="subscribebtn" title="Subscribe" class="subscribebtn" />
        </form>
        <div class="cleaner"></div>
    </div>
</div> <!-- END of sidebar -->