 <div id="templatemo_header">
            <div id="site_title">
                <h1><a href="#">Free Website Template</a></h1>
            </div>

            <div id="header_right">
                <ul id="language">
                    <li><a><img src="~/assets/images/usa.png" alt="English" /></a></li>
                    <li><a><img src="~/assets/images/china.png" alt="Chinese" /></a></li>
                    <li><a><img src="~/assets/images/germany.png" alt="Germany" /></a></li>
                    <li><a><img src="~/assets/images/india.png" alt="Indian" /></a></li>
                </ul>
                <div class="cleaner"></div>
                <div id="templatemo_search">
                    <form action="#" method="get">
                        <input type="text" value="Search" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                        <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn" />
                    </form>
                </div>
                 <partial name="_LoginPartial.cshtml"/>
            </div> <!-- END -->
        </div> <!-- END of header -->